<section class="Adress">
  <div class="Adress-wrapper">
    <h1 class="Adress-title">IP Address Tracker</h1>
    <div class="Adress-search">
      <input name="buscar"
            (keyup.enter)="search_Url(searchText.value)"
            #searchText
            type="text" placeholder="Search for any IP address or domain" class="Adress-search-input">
      <label class="Adress-search-label" (click)="search_Url(searchText.value)"  for="Adress-search-label">
        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="14"><path fill="none" stroke="#FFF" stroke-width="3" d="M2 1l6 6-6 6"/></svg>
      </label>
    </div>
    <div class="Adress-info" *ngFor="let nodo of location; index as i">
      <ul class="Adress-info-list">
        <li class="Adress-info-list-item">
          <span class="Adress-info-list-item-title">IP ADDRESS</span>
          <span class="Adress-info-list-item-text" *ngIf="nodo?.ip; else elseBlock; let ip">{{ip}}</span>
        </li>
        <li class="Adress-info-list-item">
          <span class="Adress-info-list-item-title">LOCATION</span>
          <span class="Adress-info-list-item-text" *ngIf="nodo.location?.city; else elseBlock; let city">{{city}}</span>
        </li>
        <li class="Adress-info-list-item">
          <span class="Adress-info-list-item-title">TIMEZONE</span>
          <span class="Adress-info-list-item-text" *ngIf="nodo.location?.timezone; else elseBlock; let timezone">UTC{{timezone}}</span>
        </li>
        <li class="Adress-info-list-item">
          <span class="Adress-info-list-item-title">ISP</span>
          <span class="Adress-info-list-item-text" *ngIf="nodo?.isp; else elseBlock; let isp">{{isp}}</span>
        </li>
        <ng-template #elseBlock>Not Found Information.</ng-template>
      </ul>
    </div>
    <div class="Adress-popUp" *ngIf="poPupError">
      <div class= "Adress-popUp-content">
        <p class="Adress-popUp-content-text">{{error}}</p>
        <div class="Adress-popUp-content-close" (click)="closePop()">
          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20">
            <g fill="#E83338" fill-rule="nonzero">
                <path d="M16.394 19.016L.484 3.106a1.473 1.473 0 0 1 0-2.122 1.473 1.473 0 0 1 2.122 0l15.91 15.91c.6.601.6 1.52 0 2.122a1.473 1.473 0 0 1-2.122 0z"/>
                <path d="M2.606 19.016l15.91-15.91a1.473 1.473 0 0 0 0-2.122 1.473 1.473 0 0 0-2.122 0L.484 16.894a1.473 1.473 0 0 0 0 2.122c.601.6 1.52.6 2.122 0z"/>
            </g>
          </svg>
        </div>
      </div>
  </div>
  </div>
  <div class="Adress-map" id="mapid"></div>
</section>
