@import '../../less/All.less';

.Adress {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &-wrapper {
    width: 100%;
    background: url("../../assets/pattern-bg.png") no-repeat top;
    background-size: cover;
    padding: 0 @gap;
    max-height: 250px;
    z-index: 2;
  }

  &-title {
    &:extend(.title all);
    color: var(--white);
    text-align: center;
    margin: @gap 0;
  }

  &-search {
    display: flex;
    width: 100%;
    height: @gap * 2.25;

    &-input {
      &:extend(.body all);
      border: 0;
      border-radius: @gapMed 0 0 @gapMed;
      flex: 1;
      padding-left: @gapMed;
    }

    &-label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: @gap * 2.25;
      height: @gap * 2.25;
      background: var(--Dark-Gray-Primary);
      border-radius: 0 @gapMed @gapMed 0;
    }
  }

  &-info-list {
    background: var(--white);
    border-radius: @gapMed;
    padding: @gap;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: @gapMed 0;
    }

    &-item-title {
      &:extend(.label all);
      letter-spacing: 1px;
      color: var(--Dark-Gray-Secondary);
    }

    &-item-text {
      &:extend(.subheadline all);
    }
  }

  &-map {
    width: 100%;
    height: 100vh;
    z-index: 1;
  }

  &-popUp {
    animation: fadein 0.5s ease-in-out;
    align-items: center;
    background: rgba(0, 0, 0, 0.62);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    &-content {
      align-items: center;
      background: var(--white);
      border: 1px solid var(--Dark-Gray-Secondary);
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      height: 140px;
      padding: 15px;
      position: relative;
      top: @gap * 0.75;
      width: 300px;

      &-text {
        &:extend(.body all);
        position: relative;
        text-align: center;
        width: 100%;
      }

      &-close {
        cursor: pointer;
        justify-content: center;
        position: relative;
        width: 16px;
        height: 16px;
        position: absolute;
        right: @gap;
        top: @gap;
      }
    }
  }

  @media @mq-viewport-md {
    &-wrapper {
      max-height: 225px;
    }

    &-search {
      max-width: 500px;
      margin: 0 auto;

      &-label {
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          background: var(--Dark-Gray-Secondary);
        }
      }
    }

    &-info-list {
      display: flex;
      flex-wrap: wrap;
      max-width: 1000px;
      margin: (@gap * 2) auto;
      width: 100%;
      justify-content: space-between;

      &-item {
        align-items: flex-start;
        border-right: 1px solid var(--Dark-Gray-Secondary);
        margin: @gapMed 0;
        padding-left: @gap;
        width: 22%;

        &:last-child {
          border-right: 0;
        }
      }
    }

    &-map {
      height: 100vh;
    }
  }
}
